h1{
	color:blue; 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("pngtree-back-to-school-background-and-pencils-image_389864.jpg");
	background-position: center;
	background-size: cover;
}

#myCanvas{
	border-width: 10px;
	background-color: white;
	border-style: ridge;
}
